<div>
    <a [routerLink]="['tema']" mat-stroked-button color="primary" >Home</a>
    <button mat-stroked-button color="primary" [matMenuTriggerFor]="admin">Administrar</button>
    <button mat-stroked-button color="primary" [matMenuTriggerFor]="estadistica">Estadisticas</button>
    <mat-menu #admin="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="usuarios">Usuarios</button>
        <button mat-menu-item [matMenuTriggerFor]="roles">Roles</button>
        <button mat-menu-item [matMenuTriggerFor]="facultades">Facultades</button>
        <button mat-menu-item [matMenuTriggerFor]="carreras">Carreras</button>
        <button mat-menu-item [matMenuTriggerFor]="ciencias">Ciencia</button>
    </mat-menu>

    <mat-menu #usuarios="matMenu">
        <a [routerLink]="['userC']" mat-menu-item>Crear Usuario</a>
        <a [routerLink]="['userR']" mat-menu-item>Leer</a>
        <a [routerLink]="['componentB']" mat-menu-item>Actualizar*</a>
        <a [routerLink]="['componentB']" mat-menu-item>Eliminar*</a>
    </mat-menu>

    <mat-menu #roles="matMenu">
        <a [routerLink]="['rolC']" mat-menu-item>Crear Rol</a>
        <a [routerLink]="['rolR']" mat-menu-item>Leer</a>
        <a [routerLink]="['componentB']" mat-menu-item>Actualizar*</a>
        <a [routerLink]="['componentB']" mat-menu-item>Eliminar*</a>
    </mat-menu>

    <mat-menu #facultades="matMenu">
        <a [routerLink]="['facultadC']" mat-menu-item>Crear Facultad</a>
        <a [routerLink]="['facultadR']" mat-menu-item>Leer</a>
        <a [routerLink]="['componentB']" mat-menu-item>Actualizar*</a>
        <a [routerLink]="['componentB']" mat-menu-item>Eliminar*</a>
    </mat-menu>

    <mat-menu #carreras="matMenu">
        <a [routerLink]="['carreraC']" mat-menu-item>Crear Carrera</a>
        <a [routerLink]="['carreraR']" mat-menu-item>Leer</a>
        <a [routerLink]="['componentB']" mat-menu-item>Actualizar*</a>
        <a [routerLink]="['componentB']" mat-menu-item>Eliminar*</a>
    </mat-menu>

    <mat-menu #ciencias="matMenu">
        <a [routerLink]="['cienciaC']" mat-menu-item>Crear Ciencia</a>
        <a [routerLink]="['cienciaR']" mat-menu-item>Leer</a>
        <a [routerLink]="['componentB']" mat-menu-item>Actualizar*</a>
        <a [routerLink]="['componentB']" mat-menu-item>Eliminar*</a>
    </mat-menu>


    <mat-menu #estadistica="matMenu">
        <a [routerLink]="['TopCatRes']" mat-menu-item>TOP 3 Catedraticos (Respuestas)</a>
        <a [routerLink]="['TopEstRes']" mat-menu-item>TOP 10 Estudiantes (Respuestas)</a>
        <a [routerLink]="['TopCatTema']" mat-menu-item>TOP 5 Catedráticos (Tema)</a>
        <a [routerLink]="['TopEstTema']" mat-menu-item>TOP 5 Estudiantes (Tema)</a>
    </mat-menu>

    <button (click)="logout()" mat-button color="warn" style="position:absolute; right: 0px">Logout</button>
    <mat-divider></mat-divider>
</div>
<p style="text-align: center">as {{user.NOMBRE}}</p>
<router-outlet></router-outlet>
