<mat-card class="example-card" *ngFor="let exa of examenes| slice: lowValue : highValue ;let i=index">
    <mat-card-header>
        <div mat-card-avatar><mat-icon>work</mat-icon></div>
        <mat-card-title>{{exa.NOMBRE}}</mat-card-title>
        <mat-card-subtitle *ngIf="exa.FECHA!=undefined">{{exa.FECHA.substring(0,10)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
        <mat-expansion-panel (opened)="pregunta(exa.ID_EXAMEN,i)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Preguntas
                </mat-panel-title>
                <mat-panel-description>
                    Todas las preguntas de examen...
                </mat-panel-description>
            </mat-expansion-panel-header>
        
        
            <mat-list>
                <mat-list-item *ngFor="let pregs of exa.PREGUNTAS">
                    
                    <!--mat-icon mat-list-icon>account_circle</mat-icon-->
                    <h4 mat-line><b>{{pregs.TIPO}}</b></h4>
                    <p mat-line><i>{{pregs.TEXTO}}</i></p>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <mat-expansion-panel (opened)="notas(exa.ID_EXAMEN,i)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notas
                    </mat-panel-title>
                    <mat-panel-description>
                        Todas las notas de estudiantes...
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
            
                <mat-list>
                    <mat-list-item *ngFor="let est of exa.ESTUDIANTES">
                        
                        <mat-icon mat-list-icon>account_circle</mat-icon>
                        <h4 mat-line><b>{{est.ID_USUARIO}}  </b>[<i>{{est.NOMBRE}}</i>]</h4>
                        <p mat-line>Nota: {{est.NOTA}}%</p>
                        <mat-divider [inset]="true"></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
    </mat-card-actions>
    <mat-card-footer style="text-align: right">
        Tiempo limite: {{exa.TIEMPO/60}} minutos, {{exa.TIEMPO%60}} segundos
    </mat-card-footer>
    <mat-divider [inset]="true"></mat-divider>
</mat-card>
<mat-paginator style="width: 80%; margin:auto; margin-bottom: 20px" 
    [length]="examenes.length" 
    [pageSize]="pageSize" 
    (page)="getPaginatorData($event)">
</mat-paginator>
<pre class="space"> 




</pre>
<button (click)="addPregunta()" mat-fab class="add">
    <mat-icon>add</mat-icon>
</button>