.example-card {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-bottom: 25px;
    background-color: rgb(174, 211, 208);
}
.chat{
    left: 15px;
    position: relative;
}
.example-full-width {
    width: 80%;
    margin-left: 10%
}
.find{
    position: absolute;
    bottom: 2px;
    right:1px;
}