<div>
      <mat-form-field style="left:20%; width:120px;margin-right:140px">
            <input matInput type="number" placeholder="Tiempo limite" [(ngModel)]="timem">
      </mat-form-field>
      <label>minutos</label>
</div>
<div>
      <mat-form-field style="left:20%; width:120px;margin-right:140px">
            <input matInput type="number" placeholder="Tiempo limite" [(ngModel)]="times">
      </mat-form-field>
      <label>segundos</label>
</div>
<mat-divider></mat-divider>
<mat-card class="card" *ngFor="let pre of preguntas">
      <mat-card-header>
            <mat-card-title>{{pre.TEXTO}}</mat-card-title>
            <mat-card-subtitle>{{pre.TIPO}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
            <div class="group">
                  <mat-checkbox class="check" *ngFor="let res of pre.RESPUESTA" [(ngModel)]="res.CORRECTA">
                        <h4>{{res.TEXTO}}</h4>
                  </mat-checkbox>
            </div>
            <div *ngIf="!(pre.TIPO == 'Texto' && pre.RESPUESTA != 0) && pre.TIPO != 'V|F'">
                  <mat-form-field style="margin-right:20px">
                        <input matInput placeholder="Texto para la respuesta" [(ngModel)]="pre.temp">
                  </mat-form-field>
                  <button mat-mini-fab (click)="addR(pre)">
                        <mat-icon color="Primary">add</mat-icon>
                  </button>
                  <mat-divider></mat-divider>
            </div>
      </mat-card-content>
</mat-card>
<div style="margin-top:20px; position:absolute; left:10%; width:80%;">
      <mat-form-field>
            <input matInput placeholder="Texto para la pregunta" [(ngModel)]="texto">
      </mat-form-field>
      <div>
            <mat-radio-group [(ngModel)]="preg">
                  <mat-radio-button class="radio" value="1">Texto</mat-radio-button>
                  <mat-radio-button class="radio" value="2">Opción Multiple</mat-radio-button>
                  <mat-radio-button class="radio" value="3">Verdadero|Falso</mat-radio-button>
            </mat-radio-group>
            <button mat-mini-fab (click)="add(this.preg,this.texto)">
                  <mat-icon>add</mat-icon>
            </button>
      </div>
</div>
<pre>




</pre>
<button mat-fab (click)="addExam()" class="add">
      <mat-icon>save</mat-icon>
</button>